.container-latest {
  margin-left: 6%;
  
}

.imp-card{
    width: 15rem;
    margin-left: 1rem;
    
}
.imp-card:hover{
         border: 2px solid rebeccapurple;
         border-radius: 4%;
         
         
}
.bracelet-card {
  border-radius: none;
  overflow: hidden;          
  border:none ;  
  height: 100%;
  box-sizing: border-box;
  width: 14.7rem;
}

.bracelet-img {
  width: 100%;
  height: 230px;
  display: block;
  object-fit: cover;
  margin: 0;    
  border-radius: 10%;      
}
.card-body{
    text-align: left;
    margin-left: 4%;
    margin-top: -44%;
}


