video{
    height: 40%;
    width: 100vh;
    border: 2px solid rgb(247, 72, 247);
    border-radius: 5rem;
    object-fit: cover;
    
}
.info{
    font-size: 2rem;
    color:  rgb(247, 72, 247);
    padding-top: 10%;
}
.btn-outline-purple {
    border: 2px solid  rgb(247, 72, 247);;   /* Bootstrap purple */
    color:  rgb(247, 72, 247);;
    background-color: transparent;
}

.btn-outline-purple:hover {
    background-color:  rgb(247, 72, 247);;
    color: white;
}
